bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/WebApi/v17/.suo
/.vs/WebApi/v17/.futdcache.v2
/.vs/WebApi/FileContentIndex/read.lock
/.vs/WebApi/FileContentIndex/f5e03dae-94b3-406c-8e1f-083fdb24eec8.vsidx
/.vs/WebApi/FileContentIndex/f0417939-b4e3-4991-9476-029962a3d93f.vsidx
/.vs/WebApi/FileContentIndex/ac52a601-1c8e-45e6-8361-305d09584458.vsidx
/.vs/WebApi/FileContentIndex/5cd06152-9652-4fe7-aac5-805068710de2.vsidx
/.vs/VSWorkspaceState.json
/.vs/Stukach.kg.API/v17/.wsuo
/.vs/ProjectEvaluation/webapi.projects.v6.1
/.vs/ProjectEvaluation/webapi.metadata.v6.1
/.vs/WebApi/FileContentIndex/28cc61d2-e565-41c0-8c7a-f71c4ed3009c.vsidx
/.vs/WebApi/FileContentIndex/bed37887-148a-4ab8-9d0e-57bbe9423944.vsidx
/.vs/WebApi/FileContentIndex/6b39a576-746c-4c13-98d6-395b59a4ee3a.vsidx
/.vs/WebApi/FileContentIndex/40c9b5e7-6576-4174-963e-6f5eb230602a.vsidx
/.vs/WebApi/FileContentIndex/2b086507-4550-4728-a5b4-26c13125dd24.vsidx
/.vs/WebApi/FileContentIndex/200fcaf6-eff8-4c98-a012-3cde3e349580.vsidx
