bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/WebApi/v17/.suo
/.vs/WebApi/v17/.futdcache.v2
/.vs/WebApi/v17
/.vs/WebApi/FileContentIndex/read.lock
/.vs/WebApi/FileContentIndex/65b238d8-94c6-41a9-b2df-579e95db04dc.vsidx
/.vs/WebApi/FileContentIndex/5a6d78b3-ae34-42c4-a655-c2d7602f17e8.vsidx
/.vs/WebApi/FileContentIndex/5619fb2c-7dd5-4d70-8998-328a35ea359e.vsidx
/.vs/WebApi/FileContentIndex/08b17171-bd10-48b8-a0c0-30328d1a5101.vsidx
/.vs/WebApi/FileContentIndex
/.vs/WebApi/DesignTimeBuild/.dtbcache.v2
/.vs/WebApi/DesignTimeBuild
/.vs/WebApi
/.vs/VSWorkspaceState.json
/.vs/ProjectEvaluation/webapi.projects.v5.2
/.vs/ProjectEvaluation/webapi.metadata.v5.2
/.vs/ProjectEvaluation
/.vs
